span{
    text-align: justify;
    
}

#fila{
    margin-left: 4rem;
    margin-right: 4rem;
}

h4{
    text-align: center;
    padding-top: 50px;
}

@media (min-width: 992px) {
    .nav-item{
        padding-left: 80px;
    }
}